[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-apscheduler = "*"
flask-socketio = "~=4.3.1"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-restful = "*"
passlib = "*"
python-dotenv = "*"
flask-oauthlib = "*"
wheel = "*"
mongoengine = "*"
gevent-websocket = "*"
gevent = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9.2"
